.page-404{
    background-color: var(--main-color);
    color : var(--white);
}

.searchform {
    position: relative;
    z-index: 0;

    input[name="s"] {
      width: 100%;
      outline: none;
      color: white;
      border-bottom: rem(2) solid white;
      background-color: var(--main-color);
      padding : 0.5rem;
    }

    input[type="submit"] {
      position: absolute;
      right: 0;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center;
      width: 1.6rem;
      height: 1.6rem;
      color: white;

    }
  }

  
.posts-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 auto;
}

.post-item {
    text-align: left;

    width:25%; 
    padding: rem(15);
    box-sizing: border-box;
}



