.service-item{
text-align: center;
}

.services-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
}



@media (min-width: 700px) {

    .service-item{
        width: 25%;
        aspect-ratio: 1/1;
    }
    .services-list {
        flex-direction: row;
        gap: 0rem;
        margin:0;
        padding: 0;

    }

    .service-title-containers{
        height: 100%;
      display: flex;
      justify-content: center;
        align-items: center;
    }
}